name: RSpec

on:
  schedule:
    - cron: "0 9 * * 1"
  push:
    branches:
      - main
  pull_request:

env:
  RUSTFLAGS: "-W warnings"

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.2', '3.3', '3.4', '4.0.0-preview2']

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Set up Ruby
      # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
      # change this to (see https://github.com/ruby/setup-ruby#versioning):
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Build tree-sitter-ruby
        run: cd tree-sitter-ruby && ls && make
      - name: Run tests
        run: ls && ls tree-sitter-ruby
      - name: Run tests
        run: bundle exec rake
